// Colors

$gradient-color: linear-gradient(77deg, rgb(253, 82, 114) 0%, rgb(234, 109, 84) 100%);
$border-color: #F1F1F1;
$primary-color-text: #777777;
$main-background: #ECECEC;
$secondary-color: #FFFFFF;


// Fonts

$primary-font-family: 'Lato', sans-serif;
$primary-font-size: calc(1em + 0.15vw);